body {
    background-color: #F9FAFC;
    font-family: 'Times New Roman', Times, serif;
    color: #223240;
}

.brand {
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #364022;
}

.center {
    margin: auto;
  }

.thin {
    font-weight: 300;
}

.bold {
    font-weight: 900;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    background-color: rgb(190,162,136, .4);
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #364022;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

#post-mobile-dropdown {
    color: #223240;
    background-color: transparent;
    border: none;

    position: fixed;
    top: 10px;
    z-index: 1;
}

#collapseDetails {
    position: fixed;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.socials {
    font-size: x-large;
}

.filter-link {
    text-decoration: none;
    color: #445261;
    border-radius: 3px;
    padding: 2px;
}

.filter-link:hover {
    background-color: #445261;
    color: #F9FAFC;
}


.post-link {
    text-decoration: none;
    color: #364022;
}

.post-link:hover,
.page-link {
    color: #445261;
}

.footer-link {
    text-decoration: none;
    color: #F9FAFC;
}

.footer-link:hover {
    color: #F9FAFC;
    text-decoration: underline;
}

.post-title {
    margin-top: 25%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #364022;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #364022;
    background: transparent;
    border: none;
}

.navbar-collapse {
    flex-grow: unset;
}

.small-text {
    font-size: small;
}

.accordion-button.collapsed, .accordion-button:not(.collapsed) {
    background: #445261;
    color: white;
    border-top: solid 1px white;
  }

.accordion-button:not(.collapsed)::after, .accordion-button::after {
    filter: brightness(1000%);
}

#mobile-accordion {
    display: none;
}

@media (max-width: 767px) {
    .small-text {
        display: none;
    }

    .filter-link {
        font-size: x-large;
    }

    #post-side-bar-lg {
        display: none;
    }

    #mobile-accordion {
        display: unset;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1;
    }
}