{% extends "base.html" %}

{% block content %}

<div class="row col-10 col-md-6 mt-5 text-center center ">
    {% if user.is_superuser %}
        <a href="{% url 'home' %}" class="filter-link col-2 col-sm-2 center"><p class="card-text"><i class="fa-solid fa-earth-americas"></i> <br><span class="small-text">All</span></p></a>
        <a href="{% url 'filter_interesting' %}" class="filter-link col-2 col-sm-2 center"><p class="card-text"><i class="fa-regular fa-thumbs-up"></i><br><span class="small-text">Interesting</span></p></a>
        <a href="{% url 'filter_important' %}" class="filter-link col-2 col-sm-2 center"><p class="card-text"><i class="fa fa-circle-exclamation"></i><br><span class="small-text">Important</span></p></a>
        <a href="{% url 'filter_underrated' %}" class="filter-link col-2 col-sm-2 center"><p class="card-text"><i class="fa fa-magnifying-glass-chart"></i><br><span class="small-text">Underrated</span></p></a>
        <a href=" {% url 'add-post' %}" class="filter-link col-2 col-sm-2 center"><p class="card-text"><i class="fa-solid fa-plus"></i><br><span class="small-text">Add Post</span></p></a>
    {% else %}
        <a href="{% url 'home' %}" class="filter-link col-2 col-sm-2 center"><p class="card-text"><i class="fa-solid fa-earth-americas"></i> <br><span class="small-text">All</span></p></a>
        <a href="" class="filter-link col-2 col-sm-2 center"><p class="card-text"><i class="fa-regular fa-thumbs-up"></i><br><span class="small-text">Interesting</span></p></a>
        <a href="" class="filter-link col-2 col-sm-2 center"><p class="card-text"><i class="fa fa-circle-exclamation"></i><br><span class="small-text">Important</span></p></a>
        <a href="" class="filter-link col-2 col-sm-2 center"><p class="card-text"><i class="fa fa-magnifying-glass-chart"></i><br><span class="small-text">Underrated</span></p></a>
    {% endif %}
</div>

<div class="container-fluid mb-4">
    <div class="row">

        <!-- Post Entries Column -->
        <div class="col-12 mt-3">
            <div class="row">
                {% for post in post_list %}
                {% if post.number_of_underrated_likes > 4 %}
                <div class="col-md-12 col-lg-8 center">
                    <div class="card m-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="image-container col-md-5 mb-2">
                                    {% if "placeholder" in post.featured_image.url %}
                                    <img class="card-img-top"
                                        src="https://res.cloudinary.com/daozyljmo/image/upload/v1674490539/jacqueline-martinez-Nc49IqsNm3E-unsplash_fqroxq.jpg">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ post.featured_image.url }}">
                                    {% endif %}
                                </div>
                                <div class="col-md-7 float-right">
                                    <a href=" {% url 'post_detail' post.slug %}" class="post-link">
                                        <h2 class="card-title">{{ post.title }}</h2>
                                        <p class="card-text"><span class="bold">Country: </span>{{post.country }}</p>
                                        <p class="card-text"><span class="bold">Dates: </span>{{post.dates }}</p>
                                        <p class="card-text"> {{post.description|truncatewords:15}}</p>
                                    </a>
                                    {% if user.is_superuser %}
                                    <div class="row col-12 mt-2 ms-0 small-text-admin-edit text-center">
                                        <a class="col-5 col-md-5 me-1 me-md-5 admin-post-edit" href=" {% url 'update-post' post.slug %} "><p class="admin-post-edit-text"><i class="fa-solid fa-pen-nib"></i> Edit Post</p></a>
                                        <a class="col-5 col-md-5 admin-post-edit" href=" {% url 'delete-post' post.slug %} "><p class="admin-post-edit-text"><i class="fa-solid fa-trash"></i> Delete Post</p></a>
                                    </div>
                                    {% endif %}
                                    <hr />
                                    <div class="row text-center center">
                                        <p class="card-text col-3 col-sm-4 center"><i class="fa-regular fa-thumbs-up"></i><sup> {{ post.number_of_interesting_likes }}</sup> <br><span class="small-text">Interesting</span></p>
                                        <p class="card-text col-3 col-sm-4 center"><i class="fa fa-circle-exclamation"></i><sup> {{ post.number_of_important_likes }}</sup> <br><span class="small-text">Important</span></p>
                                        <p class="card-text col-3 col-sm-4 center"><i class="fa fa-magnifying-glass-chart"></i><sup> {{ post.number_of_underrated_likes }}</sup> <br><span class="small-text">Underrated</span></p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}